@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}
.slantedA {
  height: 50%;
  width: 100%;
  position: relative;
}
.slantedDay {
  background-image: linear-gradient(to right, #fff, #0083b0);
}
.slantedNight {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.slantedA::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transform: skewY(-18deg);
}
.main {
  width: 100%;
  height: 100%;
}
.mainNight {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
::placeholder {
  text-align: center;
  margin-left: -24px;
  font-size: 14px;
}
.slide_in {
  animation: slideme 0.7s ease-in;
}
@keyframes slideme {
  0% {
    transform: (53deg) translateY(-500px);
  }
  60% {
    transform: translateX(0px);
  }
  100% {
    transform: skew(0deg);
  }
}
.fontOs {
  font-family: "Roboto", sans-serif;
}
.tangerine {
  font-family: "Tangerine", cursive;
}
.fugos {
  font-family: "Fugaz One", cursive;
}
.Farsan {
  font-family: "Farsan", cursive;
}
.rotateOverViewImage {
  animation: rotation 90s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.outerCircle {
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(0, 0, 0, 0.15);
}
.innerCircle {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(0, 0, 0, 0.2),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.counter {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 13px;
  stroke-dasharray: 290;
  stroke-dashoffset: 290;
  position: absolute;
}
.counter1 {
  animation: progressBar 2s linear forwards;
}
@keyframes progressBar {
  100% {
    stroke-dashoffset: 130;
  }
}
.counter2 {
  animation: progressBar2 2s linear forwards;
}
@keyframes progressBar2 {
  100% {
    stroke-dashoffset: 180;
  }
}

.counter3 {
  animation: counter3 2s linear forwards;
}
@keyframes counter3 {
  100% {
    stroke-dashoffset: 198;
  }
}
.counter4 {
  animation: counter4 2s linear forwards;
}
@keyframes counter4 {
  100% {
    stroke-dashoffset: 145;
  }
}
.counter5 {
  animation: counter5 2s linear forwards;
}
@keyframes counter5 {
  100% {
    stroke-dashoffset: 170;
  }
}
